* {
  box-sizing: border-box;
}

body {
  background: rgb(77, 130, 134);
  background: radial-gradient(
    circle,
    rgba(77, 130, 134, 1) 0%,
    rgba(80, 8, 65, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 80vh;
}
#heading {
  color: #1d1c01;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: #fc0 1px 0 10px;
}
#score {
  color: #1d1c01;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: #fc0 1px 0 10px;
}

.quiz-container {
  background: rgb(209, 223, 224);
  background: radial-gradient(
    circle,
    rgba(209, 223, 224, 1) 0%,
    rgba(125, 218, 232, 1) 50%,
    rgba(82, 118, 126, 1) 100%
  );
  width: 50rem;
  height: 20rem;
  padding: 35px;
  border-radius: 3px;
}
#displayQues {
  font-size: 25px;
  font-weight: bold;
  width: 45rem;
  height: 3rem;
  padding: 10px;
  margin-left: 3px;
  margin-top: 4px;
}
.choice-container {
  padding: 8px;
}
button {
  background-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  height: fit-content;
  float: right;
}

button:hover {
  background-color: #a5af4c; /* Green */
  color: white;
}
.choice-text {
  padding: 0.3rem;
  font-size: 20px;
}
.correctChoice {
  color: green;
}
.incorrectChoice {
  color: red;
}
